button:hover {
    background-color: green;
    color:white;
}

button:active {
    background-color: red;
}

input:focus {
    border: 2px solid blue;
}


a:link {
    text-decoration: none;
    background-color: yellow;
}
a:visited {
    color: purple;
}
a:hover {
    color: rgb(255, 81, 0);
}